# Q1. What is a database? Differentiate between SQL and NoSQL databases.

### A database is a structured collection of data that is organized and managed to provide efficient storage, retrieval, and manipulation of information. It serves as a reliable and central repository for storing various types of data, such as text, numbers, images, and more.

## SQL and NoSQL are two different types of database management systems that differ in their approach to storing and retrieving data:

SQL (Structured Query Language) Databases:
SQL databases are based on the relational model, which organizes data into tables with rows and columns. They use structured query language (SQL) for defining and manipulating the data. 


###### Structure: SQL databases have a predefined schema that specifies the structure of the data, including table definitions, column types, and relationships between tables.
###### ID Compliance: SQL databases typically adhere to ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data integrity and transactional consistency.
###### Data Integrity: SQL databases enforce data integrity through features like primary keys, foreign keys, constraints, and data validation rules.
###### Joins and Relationships: SQL databases support complex queries involving multiple tables, enabling the use of joins and relationships to establish connections between data.

##### NoSQL databases provide a flexible and scalable approach to storing and retrieving data, particularly when dealing with large volumes of unstructured or semi-structured data. Key characteristics of NoSQL databases include:

###### Schema Flexibility: NoSQL databases offer schemaless or flexible schemas, allowing for dynamic and evolving data structures.
###### Scalability: NoSQL databases are designed to scale horizontally, meaning they can handle increasing data loads by distributing data across multiple servers or clusters.
###### High Performance: NoSQL databases are optimized for performance, as they often prioritize data retrieval speed over strict data consistency.
###### Variety of Data Models: NoSQL databases support various data models like key-value, document, columnar, and graph databases, catering to different data storage and retrieval needs

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

###  DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas. The main purpose of DDL is to define the logical and physical structure of the data within a database.

CREATE:
The CREATE statement is used to create new database objects, such as tables, indexes, views, or schemas. It defines the structure and characteristics of the object being created.

DROP:
The DROP statement is used to delete existing database objects, such as tables, indexes, or views. It permanently removes the object and its associated data from the database.

ALTER:
The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or other properties of the object.

TRUNCATE:
The TRUNCATE statement is used to remove all data from a table while keeping the table structure intact. It is a fast alternative to the DELETE statement, as it deallocates the data pages without logging individual row deletions.

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

### DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data within a database. DML statements are responsible for inserting, updating, and deleting data from database tables

INSERT:
The INSERT statement is used to add new rows of data into a table. It allows you to specify the table name and the values to be inserted into the corresponding columns

UPDATE:
The UPDATE statement is used to modify existing data within a table. It allows you to update specific columns or records based on certain conditions

DELETE:
The DELETE statement is used to remove one or more rows of data from a table. It allows you to specify conditions to determine which rows should be deleted.

# Q4. What is DQL? Explain SELECT with an example

### DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL statements are primarily focused on querying and fetching data from tables based on specified conditions. The most commonly used DQL statement is SELECT.

SELECT:
The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns to be selected and apply conditions to filter the rows returned. The SELECT statement can be extended with various clauses, such as WHERE, ORDER BY, GROUP BY, JOIN, and more, to further refine the query results.

# Q5. Explain Primary Key and Foreign Key.

### Primary Key:
#### A primary key is a column or a set of columns in a table that uniquely identifies each row or record in that table. Its main characteristics are:
###### Uniqueness: Each value in the primary key column(s) must be unique, ensuring that no two rows in the table have the same primary key value.
###### Non-nullability: A primary key column cannot contain null values, as it must uniquely identify each row in the table.
###### Immutability: Once set, the value(s) of the primary key should not be changed.
###### Single-value constraint: A primary key is composed of one or more columns, forming a unique identifier for each row in the table.


### Foreign Key:
#### A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables based on their common values. Key points about foreign keys are:
###### Referential Integrity: A foreign key ensures that the values in the column(s) match the values of the primary key in the referenced table or are null.
###### Relationship Establishment: By using foreign keys, you can define relationships such as one-to-one, one-to-many, or many-to-many between tables.
###### Cascading Actions: Foreign keys often support cascading actions, such as cascading deletes or updates, where changes made to the referenced table's primary key propagate to the table containing the foreign key.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method

import mysql.connector

# Establishing the connection
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object
cursor = conn.cursor()

# Executing a SQL query
query = "SELECT * FROM your_table"
cursor.execute(query)

# Fetching the results
results = cursor.fetchall()
for row in results:
    print(row)

# Closing the cursor and connection
cursor.close()
conn.close()

The cursor() method creates a cursor object that allows us to execute SQL queries and fetch results. It acts as a pointer or handle to interact with the database.
The execute() method of the cursor object is used to execute an SQL query or statement. It takes the SQL query as a parameter and executes it.

# Q7. Give the order of execution of SQL clauses in an SQL query

#
The order of execution of SQL clauses in an SQL query typically follows this sequence:

SELECT: The SELECT clause specifies the columns to be retrieved from the database.

FROM: The FROM clause specifies the table or tables from which the data will be retrieved.

WHERE: The WHERE clause is used to filter the rows based on specific conditions.

GROUP BY: The GROUP BY clause is used to group the rows based on one or more columns.

HAVING: The HAVING clause is used to filter the grouped rows based on specific conditions.

ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns.

LIMIT/OFFSET: The LIMIT/OFFSET clause is used to restrict the number of rows returned or skip a certain number of rows